using King.WebApi.Model.Models;
using King.WebApi.Repository.IRepository;
using SqlSugar;

namespace King.WebApi.Repository.Repository
{
    public class {{name}}Repository : BaseRepository<{{model}}>, I{{name}}Repository
    {
        public {{name}}Repository(ISqlSugarClient db) : base(db)
        {
        }
    }
}
